<div>
  <br>

  <mat-card>
    <section class="mat-typography">
      <h1>Edit Employee:</h1>
    </section>

    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input placeholder="Name" matInput formControlName="name" #name>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input placeholder="Age" matInput formControlName="age" #age>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input placeholder="E-Mail" matInput formControlName="email" #email>
      </mat-form-field>

      <br>

      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="updateRecord(name.value, age.value, email.value)" [disabled]="updateForm.pristine || updateForm.invalid"
        mat-raised-button color="primary">Save</button>
    </form>

  </mat-card>
</div>
